* {
    color: #EFE1D1;
    text-align: center;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: black;
}

.navbar-brand {
    font-family: "Rye", serif;
    padding-left: 10px;
}
.carousel-caption{
    width: 40%;
    top: 30%;
    bottom: 50%;
    left: 10%;
    text-align: left;
}
.carousel-caption h1{
    font-family: "Rye", serif;
    font-weight: 400;
    font-size: 50px;
    text-align: left;
    text-transform: capitalize;
    line-height: 1.5;
}

.carousel-caption h5{
    font-family: "Rye", serif;
    color: #950101;
    width: 100%;
    text-align: left;
    padding-top: 20px;
}
.carousel-caption span{
    font-family: "Rye", serif;
    color: #FF0000;
    text-transform: uppercase;
}
.carousel-caption button{
    font-family: "Rye", serif;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
}
.carousel-item img{
    filter: brightness(75%) saturate(75%);
    opacity: .7;
}

.featurette img{
    object-fit: cover;
    margin: 30px;
}

.featurette span{
    color: #950101;
}
.featurette p {
    text-align: left;
    text-indent: 2rem;
}
.featurette .d-flex-inline img{
    margin: 5px;
}

h2{
    font-family: "Rye", serif;
}
#reviews h5{
    font-family: "Rye", serif;
}
#reviews h6{
    color: #950101;
    font-weight: 800;
    font-style: italic;
}

.contact img{
    filter: brightness(75%) saturate(75%);
    opacity: .7;
    width: 100%;
}
.contact button{
    position: relative;
    bottom: 200px;
    padding: 20px;
    text-align: center;
}
@media (max-width: 992px) {
    .carousel-caption h1{
        font-size: 2rem;
    } 
    .carousel-caption h5{
        padding-top: 20px;
    }  
    .carousel-caption button{
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .carousel-caption{
        display: flex;
        flex-direction: column;
    }
    .carousel-caption h1{
        font-size: 1rem;
    } 
    .carousel-caption h5{
        padding: 0;
        font-size: smaller;
        font-weight: 400;
    }
    .carousel-caption button{
        padding: 0;
        margin: 0;
        height: 100%;
        width: 50%;
        font-size: 10px;
    }

}
